* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    background-image:url(../imgs/header.jpg);
    background-size: cover;
    background-position: center;
    padding: 2em 0 2em 0;
}

.header h1 {
    margin: 0%;
    text-align: center;
}

.header p {
    margin: 0%;
    text-align: center;
}

.products {
    background-color: rgb(238, 234, 228);
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
    text-align: center;
}

.products img {
    width: 80%;
    border: solid 1px #ddd;
}

.footer {
    background-color: rgb(196, 144, 120);
    text-align: center;
    height: 3em;
    line-height: 3em;
}